[2015-12-05 12:07] vittoriom opened #11 "A bit puzzled about the results of using this FFNN"
Hi,
I finally tried your FFNN (since until now I just lurked reading the code and the future developments), and I stumbled across something I don't fully understand:

I'm trying to train a FFNN with `784` inputs and `10` outputs, with `100` hidden nodes. Momentum is `0.5` and learning rate `0.7`, error function `Default` and activation `Sigmoid`.

This is the output of the first iteration of the t

[2015-12-05 13:51] vittoriom commented on #11
Forget about it, just noob initialization of the weights.

[2015-12-05 13:51] #11 closed

[2015-12-05 18:11] collinhundley commented on #11
Glad you got it figured out. Initializing the weights as `nil` will automatically assign random weights, although it currently only works well for Sigmoid activation.

It sounds like you're using the MNIST training set. I've had good results training `FFNN` with that set, and I'm preparing an example for it that will be finished soon. Check out the iOS example project - I update it daily and it in

[2015-12-06 01:07] vittoriom commented on #11
Ah, that's kind of good to know (that means we're working on the same thing at the same time, so not so good :D ), interested to see what will come out! Will check the iOS example project in a few days

[2015-12-06 01:32] collinhundley commented on #11
I'm only writing it for iOS right now.  If you're writing an OS X version, that will be great to have.  I'll move the MNIST data to the Examples directory so it's accessible for both apps (so we don't package two copies).

I'm adding Softmax activation to `FFNN` right now. It will be useful for handwriting recognition, since it helps with classification problems.

[2015-12-06 23:21] mipstian opened #12 "Support for deep FFNNs"
Hi! I've developed a similar library, except focused on customization instead of performance. The only feature I miss from my implementation is the ability to specify an arbitrary number of hidden layers, and it would be nice to see it in Swift-AI.

The way I implemented it, the designated initializer would take an `[Int]` for the `hidden` parameter, each `Int` being the size of that hidden layer.

[2015-12-07 01:35] collinhundley commented on #12
Yes, support for multiple hidden layers / deep learning is currently on the roadmap! A few other features have taken priority currently (matrix library, genetic algorithms and example projects), but it's one of the next pieces I'd like to tackle.

Regarding `self`: It's a matter of personal preference, really. I've given both paradigms a shot and being explicit seems to improve readability, clarit

[2015-12-07 17:21] mipstian commented on #12
Nice! I might try implementing it myself too if I have time, then you'll just have to fix my math :)

`self`: my main argument against it (aside from personal preference) is that Swift forces you to use it in specific cases - to disambiguate shadowed identifiers and to make capture semantics explicit. So every time I see `self.` I automatically check what it's shadowing and/or worry about retain c

[2015-12-07 22:31] Danappelxx opened #16 "Separate Storage"
I believe there was a discussion about it should be possible to use the framework just by dragging in a single file (currently FFNN.swift). Right now, FFNN conforming to Storage is preventing this from happening. What's the issue with moving [this snippet](https://github.com/collinhundley/Swift-AI/blob/master/Source/FFNN.swift#L362) into Storage.swift?

[2015-12-07 23:03] collinhundley commented on #16
That is a good idea - I still hope to maintain independence between modules, although as the library grows it will become more difficult.  Feel free to submit a pull request with this change, so you can get credit for it :)

[2015-12-07 23:06] mipstian commented on #16
That would cause anyone that needs `Storage` to import `FFNN.swift` even if they don't need it. Maybe a better solution would be a third file `FFNNStorage.swift`.

[2015-12-07 23:22] Danappelxx commented on #16
Will do :)

[2015-12-07 23:29] collinhundley commented on #16
@mipstian You're right - I overlooked that. Creating a new file is a possibility, but of course that means each class will need its own 'Class'+Storage.swift file, which eventually might get cluttered.  I'm open to suggestions but I'm not sure if that's really preferable to keeping the dependency as it is.

[2015-12-07 23:41] mipstian commented on #16
Personally I don't think the one-file import should be a high priority - especially with an official package manager on the horizon. It's not a big deal to import the whole library, and most third-party library code isn't single-file so most people are used to it. Submodules, CocoaPods, Carthage, etc.

I'd actually take it one step further and split more. In my similar library I had 5-6 files in a

[2015-12-08 00:03] collinhundley commented on #16
With the Swift Package Manager, avoiding dependencies between classes will become less of a priority for the reasons @mipstian mentioned.  That said, we won't go to the extreme either.  While splitting the neural network into multiple files might have worked in your project, in my experience it can quickly become unmaintainable.

I've merged [Pull #17](https://github.com/collinhundley/Swift-AI/pul

[2015-12-08 00:04] #16 closed

[2015-12-08 01:11] Danappelxx commented on #16
I agree with both sides, and as such don't have anything to say :stuck_out_tongue: Thanks for merging the PR!

[2015-12-20 23:58] KacheFlowe commented on #12
@mipstian I agree with that sentiment in general. Unfortunatly the part of my brain that clings to objective-c hasn't realized that.

[2015-12-21 00:01] KacheFlowe opened #25 "What needs work on?"
Hi. Since Github eliminated private messaging I find it difficult to comunicate with developers. I'm just wondering if there's a feature I can tackle or code I can take off yoru plate.

[2015-12-21 00:24] KacheFlowe commented on #25
Nevermind, with your blessing @collinhundley I'd like to take on support for multiple hidden layers /  and deep learning.

[2015-12-21 01:09] collinhundley commented on #25
Yes, that would be great if you'd like to work on multiple hidden layers  for `FFNN`. I'd recommend waiting a few hours though - @perlfly has made some big changes to help support deep learning, and I'll hopefully have time to review and merge it soon!

[2015-12-21 02:05] mipstian commented on #12
Relevant https://github.com/apple/swift-evolution/blob/master/proposals/0009-require-self-for-accessing-instance-members.md
I guess we'll see what the direction is, tomorrow :)

[2015-12-21 04:51] perlfly commented on #25
Great @KacheFlowe ! I'd appreciate your comments on my latest PR. It adds a struct that could encapsulate the layer logic. At the moment it support _forward_ calculation. It lacks backward propagation and Softmax-ing. Feel free to ask any clarification where my code is not clear enough.

If @collinhundley agrees with the direction taken by my pr, I propose opening a dedicated FFNN branch where you

[2015-12-21 05:15] collinhundley commented on #12
It will be interesting to see what the decision is. If they accept the proposal, then I guess I get a little self-validation and don't have to change any code. If they reject it, then hopefully they give some more guidance and I'll be the first person to switch sides :)

Closing this issue in favor of the conversation on [Issue 25](https://github.com/collinhundley/Swift-AI/issues/25).

[2015-12-21 05:15] #12 closed

[2015-12-22 04:10] KacheFlowe commented on #25
@perlfly Yeah sure. Are you a native Swifter?

[2015-12-22 06:44] KacheFlowe commented on #25
@collinhundley Hey Colin. I noticed you merged the branch and in your comments mentioned that you'll need to look at the code later. I can help you look at the code if you'd like. And I can begin work whenever.

[2015-12-22 06:44] collinhundley commented on #25
I've merged [PR #23](https://github.com/collinhundley/Swift-AI/pull/23). This will allow everybody to continue with @perlfly 's method of handling multiple hidden layers and support for deep learning.

Please keep performance in mind when adding any new code.  Although readability is an important characteristic, for this particular library I would like to make performance an even higher priority.

[2015-12-22 06:45] KacheFlowe commented on #25
@collinhundley On it.

[2015-12-22 06:53] KacheFlowe commented on #25
@collinhundley I'm pulling @perlfly changes to my fork now and will then begin work on Softmax activation. Also I document excessively under normal circumstances so that isn't an issue.

[2015-12-22 06:54] #25 closed

[2015-12-22 06:56] collinhundley commented on #25
@KacheFlowe Thanks, I should have more time to look the changes tomorrow (U.S. Mountain Time).  And @perlfly I appreciate your work, it looks great.

[2015-12-22 06:59] KacheFlowe commented on #25
@collinhundley Would you prefer that I contribute to an FFNN branch directly or submit pull requests from my own repo?

[2015-12-22 07:06] collinhundley commented on #25
@KacheFlowe Go ahead and submit pull requests from your own repo for now. We can add another branch later if it's more convenient.

[2015-12-22 07:11] KacheFlowe commented on #25
@collinhundley  *rubs hands together* Oh yeaaaah. Here we go

[2015-12-23 07:34] perlfly commented on #25
@KacheFlowe Please make sure you do not look at FFNN branch in my fork (on my git account). It was just something like a playground to test different direction. FFNN_Prop (proposal) is what I proposed.

Speaking of Softmax, I was wondering if it is the case to add that logic to the Layer or to the ActFinction.
At the moment the previous Softmax logic is commented inside the Layer struct.

BTW: Wha

[2015-12-23 08:06] KacheFlowe commented on #25
@perlfly haha I'm sorry! I meant to write native iOS Developer. Sorry. I hadn't slept for a whole day. Not that it matters ultimately, I was simply curious :)

[2015-12-23 08:46] perlfly commented on #25
Yes @KacheFlowe I developed a few small iOS apps since iOS5, but I'm primarily focused on the language itself (Swift) as a developer skill and Machine Learning. So this project fits perfectly with my interests.

[2015-12-23 09:38] KacheFlowe commented on #25
@perlfly Ah! Looks like we have the same interests (with the caveat that I am also an iOS Developer). Are you on Twitter? We should sync up.

[2015-12-30 03:16] KacheFlowe commented on #25
@collinhundley So I saw a post a couple of days ago detailing that you created another branch. Will I be added toa collaborater so that I may work on the branch directly (and thus create sub branches?). I won't object to this system if it is what you desire but it seems a bit cumbersome from a contributor's perspective. It'd be easier to add me as a collaborator and then have me create a local bra

[2016-01-06 20:51] collinhundley commented on #25
@KacheFlowe If you have new changes to add now, go ahead and submit a PR and I'll take a look at it.  It's been a busy few weeks for me but I'm getting back into a normal routine so I'll have more time to dedicate to Swift AI again.  If you have lots of contributions that you'd like to make, I'm not opposed to adding more collaborators if that's easier.

[2016-01-27 18:54] liscio opened #30 "Re-think the storage, vDSP calls…"
Someone pointed out this code base to me recently, and it's very cool stuff. While poking around I found things like this:

https://github.com/collinhundley/Swift-AI/blob/master/Source/Vector.swift#L14

While I also use a straight-up swift array to back my own publicly-available vectors at https://github.com/liscio/SMUGMath-Swift, I have recently found that it's not a great idea in practice—`Array

[2016-02-12 15:53] timsearle opened #32 "Scalar multiplication on vectors/matrices"
Why is the scalar value negated in the * operator overload?

[2016-02-13 21:43] joeblau commented on #30
@liscio I was browsing the [Swift docs](http://swiftdoc.org/v2.1/type/ContiguousArray/) last weekend and I found this:

Is there still benefit in using the `ContiguousArray<Float>` since all of the types are primitive?

[2016-02-14 00:04] liscio commented on #30
Efficiency != guarantee of contiguous storage. That said, it appears that contiguous storage is guaranteed for `Array`s as well, *only* when used with value types, as you point out.

Reading [Dave Abrahams' original design document](https://github.com/apple/swift/blob/4023896b395fdef4274857f31332b161f4e75964/docs/Arrays.rst) for `Array` confirms that this is still true. So, don't mind me! :)

For

[2016-02-20 18:24] Agtsaras opened #33 "AI Project"
Hey Collin. I would like to ask if i can use this library to an app that will do this thing: You take a picture of a fruit with your camera and then the app give you results some of the recipes you can make with this fruit! Can i achieve this with this library? If not what should i use to achieve this result? Thanks in advance.

[2016-02-24 11:36] JiriTrecak commented on #33
Hey!

Even though I am not Collin, I will still probably able to help you :)

When you are developing like this, we have to always break it into subproblems. For this very vague description, you would have 2 main areas that you would have to solve:

- Take picture and recognize that there is apple there
- Get apple [or any other fruit] receipts

Now, the first one is solvable through this library

[2016-02-28 12:47] Agtsaras commented on #33
Thanks a lot Jiri. Indeed that help a lot :D

[2016-03-02 15:19] joobei opened #34 "Recurrent Neural Network (RNN)"
I am looking to implement an RNN in swift and I'm wondering if there's already some effort underway to add an RNN to Swift-AI. So that there is no duplication of effort. Is there some RNN effort by somebody?

Thanks in advance.

[2016-03-10 05:14] KacheFlowe commented on #34
I'd be willing to help you out in that effort if you'd have me, joobei. Sounds like a cool undertaking.

[2016-03-10 05:21] KacheFlowe commented on #34
Looks like an RNN is still open and ripe for development (according to the documentation). Plus it's been more than a week. Wanna try? :+1:

[2016-03-10 11:28] KacheFlowe opened #36 "Question regarding RNN"
Hi Colin,

I'm working on building an RNN right now. Naturally an effective RNN needs a tokenizer. Would you prefer a tokenizer built from scratch or are we allowed to leverage other libraries? In particular, I was thinking of Ayaka Nonaka's Parsimmon's tokenizer feature. Thoughts?

B

[2016-03-10 21:22] joobei commented on #34
I have proposed this to Jorden hill from Birdbrain. He doesn't seem interested and I don't know if we can use his RNN as a base. He has "Copyright ® Jorden Hill" so I'm not sure we can.

https://github.com/jordenhill/Birdbrain

[2016-03-10 21:40] KacheFlowe commented on #34
I don't see an MIT license so that probably means we should stay away. Not that it matters since I started on the repo last night,

[2016-03-11 00:53] KacheFlowe commented on #34
@joobei Honestly dude we could crack this out ourselves. Would you like to sync up? I'm @BaselNotBasil on twitter.

[2016-03-11 01:52] joobei commented on #34
Yeah I'm totally interested. I'm in the mountains until Saturday noon but come Saturday afternoon I could get started on this.

[2016-03-12 12:05] KacheFlowe commented on #34
Yo! Joobei hit me up at kacheflo we at g mai l  do t c  om.

[2016-03-12 12:08] KacheFlowe opened #37 "Testing?"
There doesn't seem to be much testing going on. I've got a slave server dedicated to Jenkins. Also TDD would be cool. I heard it's popular with the kids.

Thoughts?

[2016-03-12 12:23] KacheFlowe commented on #34
Check your email, joobei!

[2016-03-13 02:02] loopbum commented on #34
Are you guys going to do this here or seperately?

[2016-03-13 06:15] loopbum commented on #34
Here's some pseudo-code from wiki for back-propagation through time method of training RNNs,

Back_Propagation_Through_Time(a, y)   // a[t] is the input at time t. y[t] is the output
    Unfold the network to contain k instances of f
    do until stopping criteria is met:
        x = the zero-magnitude vector;// x is the current context
        for t from 0 to n - 1         // t is time. n is the

[2016-03-13 23:19] steve21124 opened #38 "Using Swift AI to detect emotion?"
http://blogs.microsoft.com/next/2015/11/11/happy-sad-angry-this-microsoft-tool-recognizes-emotions-in-pictures/

how easy is it to use Swift AI to detect emotion?

[2016-03-15 09:31] KacheFlowe commented on #34
@loopbum Hello friend! Thanks for the pseudo-code, actually, we'll be working on it here although how we'll apply the code will differ.

[2016-03-17 22:27] rosensts opened #39 "Convert UIImage to [[Float]]"
Hey folks,

Does anybody have a concise way to convert a UIImage to an array of Floats? I have tried to use a variant of the scanImage() function from the HandwritingViewController in the iOS examples but all of my images are coming out to be exactly the same. I have been stuck on this for a few days, not sure where I am going wrong. Any help would be greatly appreciated.

Take care y'all

[2016-03-23 14:42] mrtnstolk opened #40 "APKit"
I get an error saying:
Module file was created by an older version of the compiler; rebuild 'APKit' and try again

when I try to run the iOS example project.

[2016-03-23 14:49] KacheFlowe commented on #40
Ok. Please don't take this the wrong way but... Did you try to do what the compiler told you?

[2016-03-23 15:13] mrtnstolk commented on #40
How would I rebuild the framework? Do I not need the source in order to rebuild?

[2016-03-23 15:18] KacheFlowe commented on #40
Poor question in my part. What version of Xcode are you running?

On Wednesday, March 23, 2016, mrtnstolk <notifications@github.com> wrote:

[2016-03-23 15:24] collinhundley commented on #40
@mrtnstolk @KacheFlowe You won't be able to fix that error without the APKit source, my apologies. It happens occasionally with new releases of Xcode (has to do with a module map that's used), but I've recently re-written a large part of the framework to solve that issue and make huge improvements. I'm not at my computer right now, but I can make those fixes soon.

[2016-03-23 15:26] collinhundley commented on #33
@JiriTrecak that's a good explanation. Thanks!

[2016-03-23 15:26] #33 closed

[2016-03-26 10:32] KacheFlowe commented on #39
I'm not quite sure if it's possible via Swift off the top of my head but I know that you can convert a UIImage to NSData to Float. I don't know much APKit might affect the original function's operation, however. Hopefully @collinhundley can give a clear answer.

[2016-03-27 02:17] rosensts commented on #39
I figured it out. I used UIImageToPNGRepresentation and it worked great. My problem was actually in the structure of the FFNN. I was using waaaay to many hiddle nodes. @KacheFlowe  thanks for the help

[2016-03-27 02:17] #39 closed

[2016-03-28 04:52] balram3429 commented on #40
@collinhundley :+1:

I am also facing the same issue due to **APKit.framework**. The Xcode (7.3) results into error to rebuild it.
**"Module file was created by an older version of the compiler; rebuild 'APKit' and try again: /APKit.framework/Modules/APKit.swiftmodule/arm64.swiftmodule"**

It was fine with prior version of Xcode (7.2) which was using the BaseSDK iOS 9.2. The problem seems to be du

[2016-03-28 05:10] KacheFlowe commented on #40
Ditto.

On Sunday, March 27, 2016, Balram Tiwari <notifications@github.com> wrote:

[2016-03-28 05:16] collinhundley commented on #40
@balram3429 @KacheFlowe  You're right guys, I apologize for the inconvenience.  I've built an entirely new version of APKit with major improvements (and it eliminates compatibility problems with new versions of Xcode).  I haven't had the time to update Swift AI with it yet, but I will as soon as I get the chance (probably tomorrow).  Until then, the the Swift AI iOS app will not build with Xcode 7

[2016-03-28 05:22] KacheFlowe commented on #40
@collinhundley You're a student bud; totally get it

[2016-03-28 08:53] balram3429 commented on #40
@KacheFlowe :+1:  @collinhundley :+1: :+1:

Yea, I am now downloading the prior version of simulator to get the 9.2 as BaseSDK. Will be waiting for your update.

[2016-03-29 17:26] raul1338 commented on #40
same problem
Module file was created by an older version of the compiler; rebuild 'APKit' and try again

xcode 7.3

[2016-03-31 07:51] KacheFlowe opened #43 "Interesting Parallels"
Hey @collinhundley am I going out on a limb here by saying that the FFD and RNN are similar with the exception of the RNN possessing what appear to be recursive qualities?

[2016-03-31 14:28] telip007 opened #44 "Explanation"
Can someone explain me these lines: `let x = (-500 + (Float(index) * 1000) / Float(self.numPoints)) / 100
                    try! self.network.update(inputs: [x])
                    let answer = self.sineFunc(x)
                    print("\(x):\(answer)")
                    try! self.network.backpropagate(answer: [answer])`
I don't get where the AI calculates the points here.

[2016-03-31 14:28] telip007 commented on #44
And where he gives them out...

[2016-03-31 14:29] KacheFlowe commented on #44
....File extension/name?

[2016-03-31 14:30] telip007 commented on #44
It is in the examples, where the sine curve is calculated
iOS Examples

[2016-03-31 14:30] telip007 commented on #44
I'm new to machine learning :D

[2016-03-31 14:35] telip007 commented on #44
Isn't the y calculated in the sinefunc ? And nowhere is the value,which the AI guesses, stored

[2016-03-31 14:36] KacheFlowe commented on #44
ok bud you're gonna have to give me a file name

[2016-03-31 14:37] telip007 commented on #44
Graphviewcontroller.swift

[2016-03-31 14:37] angu commented on #44
Please try to not post multiple comments
`for index in 0..<self.numPoints {
                    let x = (-500 + (Float(index) * 1000) / Float(self.numPoints)) / 100
                    try! self.network.update(inputs: [x])
                    let answer = self.sineFunc(x)
                    try! self.network.backpropagate(answer: [answer])
                }`
You are in the training phase.
The net

[2016-03-31 14:38] telip007 commented on #44
oh, ok thank you didn't look at the function.

[2016-03-31 14:48] angu commented on #43
My 2 cents: RNN has a "memory" behavior that the FFD doesn't have.
From wikipedia:

[2016-03-31 14:54] KacheFlowe commented on #43
@angu Yeah there are a great deal of difference, but I thought it a simple way for a user to first conceptualize RNN as similar to FFD ifor conceptual purposes. Of course there are a great deal of benefits;

[2016-04-01 15:54] wojtekcz commented on #40
What APKit is? If this dependency is important, perhaps its sources can be uploaded to github as well?

[2016-04-01 16:01] KacheFlowe commented on #40
APkit is a dependency thatvI believe was written by Colin. I like that
idea. What say you, Colin?

On Friday, April 1, 2016, Wojciech Czarnowski <notifications@github.com>
wrote:

[2016-04-01 17:08] collinhundley commented on #40
@KacheFlowe @wojtekcz Yes, APKit is a library that a colleague and I have written to assist with Auto Layout, animations, math, and a plethora of other functions.  The dependency breaks on Xcode 7.3, but we've completely rewritten the library anyway to provide a much cleaner syntax.  As we speak, I'm in the middle of migrating Swift AI to use this new version of APKit, and I will include the sourc

[2016-04-01 17:13] KacheFlowe commented on #40
Woo hoo!

On Friday, April 1, 2016, Collin Hundley <notifications@github.com> wrote:

[2016-04-01 17:27] collinhundley commented on #40
Annnnd... pushed to master.  Let me know if you guys have any problems.

[2016-04-01 17:27] #40 closed

[2016-04-01 17:27] #44 closed

[2016-04-01 18:16] wojtekcz commented on #40
iOS project builds with Xcode 7.3 and runs on my iPhone 6 Plus. Thanks a lot.

[2016-04-01 18:23] KacheFlowe commented on #40
Reporting same. Huzzah.

On Friday, April 1, 2016, Wojciech Czarnowski <notifications@github.com>
wrote:

[2016-04-01 21:05] collinhundley opened #45 "Remove unnecessary use of `self`"
Following the rejection of [this proposal](https://github.com/apple/swift-evolution/blob/master/proposals/0009-require-self-for-accessing-instance-members.md), and conforming to its corresponding [rationale](https://lists.swift.org/pipermail/swift-evolution/Week-of-Mon-20160104/005478.html), we will be removing all usage of `self` within Swift AI.  The obvious exceptions are instances where the co

[2016-04-02 05:14] KacheFlowe commented on #45
"if the compiler can figure it out, so can you" should be on a t-shirt

[2016-04-06 07:09] githubhero opened #46 "number 7"
Hey, maybe I can't write, but number 7 very often is not recognized.

Anyway, very good work.

[2016-04-06 08:32] collinhundley commented on #46
I've always noticed the same problem, and frankly I haven't got the
slightest clue why.  I have the most trouble with 7's, followed closely by
9's and 4's.  The other numbers seem to work great.  Even if I completely
re-train the neural network, those numbers always seem to have the most
trouble.  I'm inclined to think that it has to do with the way I'm
windowing the canvas and downsizing the imag

[2016-04-16 07:57] dkliman opened #47 "GPU/Multi-thread CPU acceleration?"
I was unsure from the docs, but will you be supporting these on OS X?

[2016-04-25 06:52] va3093 commented on #45
Hey everyone. I have just come across this project and am looking at contributing on some of your outstanding tasks. I came across this issue and thought I would drop in my 2-cents. I have been developing on Swift since the beginning and would highly recommend keeping the use of `self` wherever possible. Having tried both approaches I think using self makes code much more readable because it indic

[2016-04-25 06:56] va3093 opened #49 "Carthage / Cocoapods support"
Hey guys,

I am thinking about making a PR for you guys to support Cocoapods and carthage. You mentioned in that you don't want to do this because your not sure how they will support other platforms in the future. I aggree. Thats why I think 3rd parties should support Cocoapods, Carthage and Swift package manager. If we supported Cocoapods and Carthage we would need to create a Xcode project and t

[2016-04-25 07:40] pjebs commented on #45
I watched a video on WWDC where the presenter said that Apple's style guide was to include self everywhere.

[2016-05-02 19:29] #46 closed

[2016-05-03 01:11] collinhundley opened #50 "Recurrent Neural Network"
@KacheFlowe @joobei  Hey guys, sorry for my apparent lack of communication over the last little while.  New startup, crazy hours, no sleep... you know the routine!  Definitely haven't left Swift AI behind though, and in fact it's finally made its way back up my priority list.

It's been some time since we've discussed Recurrent Neural Networks - any progress or thoughts from you guys?  I've decide

[2016-05-03 01:12] collinhundley commented on #34
Closing this issue so we can start a new conversation over at [#11](https://github.com/collinhundley/Swift-AI/issues/50).

[2016-05-03 01:12] #34 closed

[2016-05-03 01:12] KacheFlowe commented on #50
Hey Colin. I've Ben working on this but I've been quiet because of been
applying to jobs. We can tag team if you'd like. I've been working on an
actual demo that makes use of NLP.

On Monday, May 2, 2016, Collin Hundley <notifications@github.com> wrote:

[2016-05-03 01:12] collinhundley commented on #36
Hey, it's been a little while.  Let's talk about this over at [#50](https://github.com/collinhundley/Swift-AI/issues/50).

[2016-05-03 01:12] #36 closed

[2016-05-03 01:15] collinhundley commented on #50
@KacheFlowe Awesome, NLP is exactly what I want to do with it.  I won't be able to put quite the full-time effort into this as I was before, so don't worry about being busy.  We all have normal lives too.

[2016-05-03 01:18] KacheFlowe commented on #50
Perfect. Sounds like we're on the same page. Originally I wanted to build
it from the ground up but I may have to make use of NSLinguistic. We'll
see!

On Monday, May 2, 2016, Collin Hundley <notifications@github.com> wrote:

[2016-05-03 04:32] collinhundley commented on #50
NSLinguisticTagger might be our best option on iOS/OS X.  I would have preferred a custom solution that could be ported to Linux, but the current state of Swift on Linux is shaky at best so I'd be more inclined to just build it for iOS/OS X now and port it later when needed.  Some ideas I have in mind would probably need to be trained on AWS, but I can just make due with a Mac for now.

[2016-05-03 05:02] AusCoder commented on #50
Hi guys, sorry if this is not the place for this comment. I am looking around for an open source project to get involved with and this one looks pretty cool. I don't know too much about swift but would love to learn, I do know a bit about machine learning though. Do you guys have any suggestions/recommendations on getting involved?

[2016-05-03 05:17] collinhundley commented on #50
@AusCoder Hi, we always appreciate more help. What kind of experience do you have with machine learning? As mentioned in this thread, the next component of Swift AI that I'd like to complete is a recurrent neural network - so if you have any knowledge in that area, it would be particularly useful right now.  But I'm also open to working on other components like a convolutional network, genetic alg

[2016-05-03 18:37] AusCoder commented on #50
@collinhundley In terms of machine learning: I have done the Coursera machine learning course and have implemented a couple of the algorithms from that course. I'd love you help out with the recurrent neural network, if I can somehow. Do you guys plan out who will write certain pieces of code?

Thanks for the recommendations with the docs and the Swift reference. I'll have a look at them.

[2016-05-03 18:39] KacheFlowe commented on #50
There doesn't seem tp be a written plan. Seems like we just work on it as
we go. Would you like to plan a meetup with me, Sebastian? I could
certainly use your brains! ka c h e @ g m a i l    .c o m
ᐧ

On Tue, May 3, 2016 at 12:37 PM, Sebastian Mueller <notifications@github.com

[2016-05-03 19:19] collinhundley commented on #50
I'd love to be involved with that as well, so I don't end up duplicating anybody's work.  My email is in the main readme if you guys wanna do a group message.

[2016-05-03 19:20] KacheFlowe commented on #50
I can dig it.
ᐧ

On Tue, May 3, 2016 at 1:19 PM, Collin Hundley <notifications@github.com>
wrote:

[2016-05-03 20:27] AusCoder commented on #50
I sent you guys an email. @KacheFlowe it wouldn't deliver to your email address, however.

[2016-05-03 20:31] KacheFlowe commented on #50
Kacheflowe@gmail.com with a lowercase.

On Tuesday, May 3, 2016, Sebastian Mueller <notifications@github.com> wrote:

[2016-05-10 23:19] califrench commented on #32
I think this is a copy/paste typo and it is a mistake. I'm assuming you're referring to the following code inside `Operations.swift`

[code]

The correct version would be:
[code]

I haven't tested this yet, have you @timsearle?
If you have I can submit a PR for the fix...

[2016-05-10 23:24] #43 closed

[2016-05-10 23:38] collinhundley commented on #47
@dkliman Currently the feed-forward neural network (`FFNN`) uses Apple's Accelerate library to perform vector calculations concurrently under the hood. Since performance is limited to your processor's ability to handle SIMD instructions, I've found no real benefit to adding further multi-threading support using something like GCD. However, this is largely dependent on the hardware you're using. It

[2016-05-10 23:38] #47 closed

[2016-05-11 08:55] timsearle commented on #32
I tested in a Playground locally and it works as expected when you do not negate the rhs scalar.

[2016-05-11 21:50] #30 closed

[2016-05-11 21:52] joeblau commented on #30
Yes... No...?

[2016-05-11 21:53] collinhundley commented on #32
@timsearle Thanks for pointing out that bug. The rest of Swift AI uses Accelerate for vector calculations, so it slipped under the radar.  Feel free to submit a PR, otherwise I'll just fix it.

[2016-05-11 21:53] #32 closed

[2016-05-11 22:05] collinhundley commented on #30
Perhaps @liscio can explain his recommendation of surrounding Accelerate accesses with `withUnsafe{,Mutable}Pointer` - I'm not quite sure I follow that. Other than the `withUnsafeBufferPointer` difference that he pointed out, `Array` and `ContiguousArray` appear to be identical for value types.

[2016-05-11 22:07] joeblau commented on #30
Alrighty; seems to be similar to what I found as well; Thanks for looking into it 👍

[2016-05-12 16:41] johndpope commented on #38
to solve this problem today - you might want to take a look at the google ai library which you can throw images at and get a response back, along with periphery data.

I saw a talk at NYC the other week by @genekogan https://github.com/ml4a/ml4a.github.io
he created this javascript masterpeice to detect / recognise objects using convolutional neural nets
https://ml4a.github.io/dev/demos/cifar_conf

[2016-05-12 19:27] johndpope opened #55 "feature - support caffe models"
maybe possible to cherry pick some of this code
https://github.com/naru-hiyoko/simple-cnn-swift

https://github.com/noradaiko/caffe-ios-sample

http://deeplearningkit.org/wp-content/uploads/2016/01/DeepLearningKitPaper.pdf

<img width="602" alt="screen shot 2016-05-12 at 5 43 16 pm" src="https://cloud.githubusercontent.com/assets/289994/15231429/0bc89b2c-1869-11e6-81cf-52c5e43de8c8.png">

[2016-05-12 19:47] johndpope commented on #50
maybe this use case / story telling from images would be interesting to tackle for show casing this ai library.  https://github.com/ryankiros/neural-storyteller

[2016-05-12 22:46] califrench commented on #32
Thanks @timsearle for beating me to this!

[2016-05-13 06:30] johndpope commented on #38
had a crack on this project / branch here - > https://github.com/johndpope/ios-caffe-ObjectRecognition it will detect stuff based on the trained convolution net. you just need to hot wire it to an emotions.caffemodel

[2016-05-13 17:10] steve21124 commented on #38
thank you for the detail update. I have try to use openCV before. it is a little bit slow in the past.

[2016-05-13 17:37] johndpope commented on #38
https://github.com/danduncan/HappyNet - these scripts should be able to create an emotional neural net for caffe.
I'm looking at some real time detection using this https://developer.apple.com/library/ios/samplecode/SquareCam/Introduction/Intro.html#//apple_ref/doc/uid/DTS40011190

[2016-07-19 18:42] joobei commented on #50
Guys I have been busy with some other projects but I'm interested in returning to this. Any progress?

[2016-07-19 22:55] Jxrgxn commented on #50
There is--I exist.

[2016-09-10 21:15] romaHerman opened #57 "Feature list"
Hi, Collin

I wont to make attempt in bringing some new features to this great project! :)
Do you have road map or feature list ?

Thanks,
Roma

[2016-09-21 09:10] lfarah opened #58 "Swift 3 compatibility"
Hey, I'd love to see this lib available in Swift 3 so I can implement it in my project.

Thanks 😄

[2016-09-24 17:10] neoneye commented on #58
The example projects doesn't compile with Xcode8.0, but the source dir does.

https://github.com/pixelspark/Swift-AI

[2016-09-24 19:38] neoneye opened #59 "Basic neural network subroutines (BNNS) in Accelerate framework"
Found this while looking at the whats new in macOS 10.12 Sierra and iOS 10
https://developer.apple.com/library/content/releasenotes/MacOSX/WhatsNewInOSX/Articles/OSXv10.html

I see that the Accelerate framework has gotten support for BNNS
https://developer.apple.com/reference/accelerate/1912851-bnns

Maybe BNNS yields better performance than vDSP.

[2016-09-27 14:34] #38 closed

[2016-09-27 18:34] collinhundley opened #60 "Overhaul: Swift 3, SPM and Linux"
**To those following this repository:**

I have plans to do a complete rewrite of this library, which will include an update to Swift 3, full Linux support, and major improvements and optimizations across the board.

Even since I started this project last year, Swift's popularity has increased dramatically and it's become an attractive language for backend development in addition to iOS/macOS deve

[2016-09-27 18:35] collinhundley commented on #58
See #60

[2016-09-27 18:35] #58 closed

[2016-09-27 18:35] collinhundley commented on #59
See #60

[2016-09-27 18:35] #59 closed

[2016-09-27 18:35] collinhundley commented on #50
Old conversation. See #60

[2016-09-27 18:35] #50 closed

[2016-09-27 18:36] #45 closed

[2016-09-27 18:36] collinhundley commented on #57
See #60

[2016-09-27 18:36] #57 closed

[2016-09-27 18:38] collinhundley commented on #49
Hey @va3093, thanks for bringing this up. Now that SPM has matured, we'll be using that as our package manager.

[2016-09-27 18:38] #49 closed

[2016-09-27 20:40] romaHerman commented on #60
Hi, Colin

Thanks for the update !
I hope I will be able to contribute to this project soon

[2016-10-09 08:40] zafar007 opened #61 "There is no example of Song identification (e.g., Shazam)."

[2016-10-09 13:37] mdab121 commented on #60
Can't wait to contribute as well!

[2016-10-09 17:18] Jxrgxn commented on #60
Thanks Colin.

On Tuesday, September 27, 2016, Collin Hundley <notifications@github.com>
wrote:

[2016-10-16 13:30] popaaaandrei commented on #60
Hello Colin,

Thank you for your efforts.
Any plans on supporting NVIDIA Accelerated libs CUDA, cuDNN, cuBLAS, etc. ?

Thank you!

[2016-10-16 22:27] collinhundley commented on #60
@popaaaandrei, GPU learning on Linux is a high priority for me. Most likely this will mean CUDA, although OpenCL is an option too. If you - or anybody you know - is an expert with those libraries, we'll have to be in touch when the time comes.

[2016-10-18 22:11] tanmayb123 opened #62 "Genetic Algorithm"
This probably isn't an issue for this SDK, I just added this as a "discussion"...

I've been messing around with getting Neural Networks to play games, for example, but I want to take it a step further: Would it be possible to use something like "Mendel" (an iOS SDK for Genetic Algorithms) to evolve a Neural Network using this SDK?

- Tanmay Bakshi (TajyMany)

[2016-10-26 09:39] popaaaandrei commented on #60
@collinhundley
This might be the missing link: https://github.com/rxwei/cuda-swift

[2016-11-28 11:26] julien-c opened #64 "Performance of activation functions"
I see in your code that you're computing activation in a non-vectorized way, i.e. element by element.
I expect the performance of this to be very slow, isn't it?

Thoughts on how to vectorize the activation computation?

Thanks in advance

[2016-11-29 04:46] collinhundley commented on #64
Hi @julien-c, this is something I've looked into as I start work on v2.0. The main issue is that most vector libraries support primitive operations on matrices (addition, multiplication, etc) but not arbitrary functions like sigmoid.

With that said, the activation functions could theoretically be broken into their primitive components to get a performance boost. I'd be interested in seeing some b

[2016-11-29 04:49] collinhundley commented on #61
Yes, that is correct :)

It's something I've done independently but haven't worked it into an example project. Definitely on the to-do list, but probably a lower priority than some other features.

[2016-11-29 04:49] #61 closed

[2016-12-14 23:01] taglia3 opened #65 "How to use the library as binary classifier for complex object"
Hi,
your library looks pretty. I would like to know if I can use it as **classifier** for data.

Example:
### Given a _human_ object classified it as good or bad.

Consider this scenario:

Given a _Human_ struct:

[code]
where:

[code]

and this extract of training data:
[code]

How can I use your library as classifier for a new human object like this one?

[code]

Is humanToClassified good or bad

[2016-12-15 01:06] collinhundley commented on #65
Hi @taglia3, neural networks like this one generally work well as classifiers.

What I'm confused about is how you are determining whether a `Human` is `good` or `bad` - can you provide some more context?

Your data implies that the "goodness" of a `Human` can be determined based on their name, title, salary, address and marital status. Of course in the real world this isn't true, but maybe in you

[2016-12-15 17:16] taglia3 commented on #65
Hi @collinhundley,
thanks for the quick response!
I know that the example isn't very explicit and consistent with reality, but I just wanted to figure out how I should handle a situation like this one by using your library.

I would like to understand how the library learn rules based on custom objects as in example, and apply them to objects to be classified.

I posted a simple example, but you c

[2016-12-16 01:22] simonnarang commented on #60
Maybe we can just use gitter for now?

[2016-12-16 01:27] simonnarang opened #66 "Add Travis CI?"
That way failing pull requests could be seen automatically.

travis-ci.org does this for free and it's super popular.

[2016-12-16 01:35] collinhundley commented on #65
@taglia3, the biggest hurdle for something like this is figuring out how to encode your data.

Your example contains a lot of text data, which makes it a poor fit for a simple 3-layer network (unless there were a limited number of names/titles/addresses to choose from - in which case, things get easier). If you *really* need to make inferences based on textual data, you'll do better with a Recurre

[2016-12-16 01:43] collinhundley commented on #60
@simonnarang actually, I just created a Slack channel :)

swift-ai.slack.com

[2016-12-16 01:50] collinhundley commented on #66
Yes, this will happen asap.  Probably a few weeks away though.

[2016-12-16 03:19] NikoXu commented on #60
A noble quest! I can't wait for the time coming. But I am a ML beginner. Wish I could grow with the new project.
Thanks Colin.

[2016-12-16 06:33] mogarg commented on #60
Hey Collin,

Please let me know how can I join the slack channel.

Thanks,
Mohit Garg

On Thu, Dec 15, 2016 at 8:43 PM, Collin Hundley <notifications@github.com>
wrote:

[2016-12-16 16:51] simonnarang commented on #60
@collinhundley 👍 Sweet!  To make it easy for people to join, maybe https://github.com/rauchg/slackin would work?

[2016-12-16 17:53] collinhundley commented on #60
@mogarg @simonnarang we'll use Slackin as soon as we have a site running. It'll take some time, but hold tight! Once that's ready I'll open the Slack channel up to the public.

[2016-12-22 19:19] indieshack opened #67 "won't compile under Xcode 8"
getting multiple errors, e.g.
![screen shot 2016-12-22 at 11 20 22 am](https://cloud.githubusercontent.com/assets/8550631/21437402/7e6f6712-c838-11e6-89c8-8660adce2da1.png)

[2016-12-22 19:32] collinhundley commented on #67
Hey @indieshack, this repo isn't compatible with Xcode 8 or Swift 3 yet.  See #60 for more info!

[2016-12-22 19:32] #67 closed

[2016-12-23 12:57] lzackx commented on #60
WoW~ Can't wait to contribute x 1024

[2017-01-03 19:01] raphaels17 opened #68 "errorSum > errorThreshold"
Hi

I may have miss something in understanding the train function, which I though would keep on iterating till I get under the  errorThreshold. but my errorSum = 105.794  while errorThreshold =0.2 , stop once I have the inputs have been backprogated once? is this the expected behaviour?
Also stupid question, but is there any way to asset the minimum amount of inputs to test for text (english ) rec

[2017-01-03 19:10] raphaels17 commented on #68
sorry callback error on my end

[2017-01-03 19:10] #68 closed

[2017-01-04 05:17] tianyouhui commented on #60
exciting...

[2017-01-09 06:31] 540667209 commented on #60
Wow

[2017-01-30 05:22] kwccoin opened #70 "Cannot compile under new Swift 3 (need for latest iOS)"
I accept conversion (no choice) but then 2 error messages:
1.

    public func toString(decimalPlaces: Int) -> String {
        let power = pow(10.0, Double(decimalPlaces))
        return "\(round(power * self) / power)"
    }

--> cannot use mutating member on immutable value "self" is immutable ...

and

2.

let providerRef = CGDataProvider(data: Data(bytes: UnsafePointer<UInt8>(&data), count: d

[2017-01-30 22:36] NeilNie opened #71 "Result of call to 'method' is unused"
Xcode is giving me a warning. here is the code:

    for (index, image) in self.trainImages.enumerated() {

                    try self.network.update(inputs: image)
                    let answer = trainAnswers[index]
                    try self.network.backpropagate(answer: answer)
    }
This is also resulting in the neural network getting stuck and not learning further.

[2017-02-07 20:49] souzainf3 commented on #37
This project is open source (I say a truism here). Because it does not have a benevolence to create the tests?
These TDD Shiites only preach, but do little.

[2017-02-09 11:47] ZENTRALALEX commented on #60
I can`t wait to see what you will come up with :) Can you imagine when we can have a look at parts of the new project? Also great to see that you want to support Linux. It would be great to be able to use it also in a server project.

[2017-02-09 18:53] #71 closed

[2017-02-11 15:36] DevAndArtist commented on #60
Any progress on this?

[2017-02-17 07:35] jonasman opened #72 "Image tools"
I would like to contribute to this project with image tools. Instead of having the image convertion inside a ViewController.

But for that i need the xcode 8 swift 3 branch merged.

[2017-03-01 15:18] iamjono commented on #60
Hey if you want to use a pure Swift version of Slackin, check out https://github.com/PerfectServers/SwiftSlack :)

[2017-03-20 07:23] elvisyzhao commented on #70
Did anyone fix the problem?

[2017-03-20 12:23] bearjaw commented on #70
This should solve your problem: http://stackoverflow.com/questions/39579121/swift-3-and-xcode8-ambiguous-use-of-init

[2017-03-23 13:46] jonasman commented on #70
can the author merge any of the swift 3 branches?

[2017-03-28 08:08] swtlovewtt opened #74 "Cannot compile with Xcode 8.3"

[2017-04-05 00:56] collinhundley commented on #74
See version 2.0

[2017-04-05 00:56] #74 closed

[2017-04-05 00:56] collinhundley commented on #70
Please see version 2.0!

[2017-04-05 00:56] #70 closed

[2017-04-05 01:00] collinhundley commented on #60
Hey everyone! Just an update to this thread:  I've pushed a new release which brings Swift 3.1 support and a plethora of other requested changes.  This is just part 1 - more great updates coming soon!

[2017-04-05 01:03] collinhundley commented on #72
Hey @jonasman! The library has now been updated and revamped.

Please see [version 2.0](https://github.com/collinhundley/Swift-AI/releases).

[2017-04-05 01:03] #72 closed

[2017-04-05 05:23] collinhundley commented on #65
Closing this.  Hope it helped 👍🏼

[2017-04-05 05:23] #65 closed

[2017-04-05 05:53] collinhundley commented on #64
Update: this hasn't been addressed directly yet, but I want to point out that [version 2.0](https://github.com/collinhundley/Swift-AI/releases) now supports custom activation functions. The chance of vectorizing custom functions is basically zero, but there's still a possibility of getting it to work on the defaults that I'd like to explore.

[2017-04-05 06:01] collinhundley commented on #62
@tanmayb123 I had read this wrong originally, and thought it was a feature request for genetic algorithms, which are in fact on the to-do list.

To answer your real question: yes. GAs can be used to evolve neural networks, but they are rarely more effective than backpropagation. If you have labeled training data, and if backpropagation is *ever* an option, use it first. That said, some recent stud

[2017-04-05 06:07] tanmayb123 commented on #62
Thanks for the answer, @collinhundley! I really appreciate it.
I've been working a bit more on this - but do you think it would be a better idea to create an example for Swift-AI that uses a Genetic Algorithm SDK developed by someone else, like Mendel, or to implement it as a feature of Swift-AI itself?

[2017-04-05 11:52] denisb411 opened #76 "iOS example app Link on home readme is broken."

[2017-04-05 16:49] collinhundley commented on #62
@tanmayb123 the plan is to provide a semi-generic GA implementation in Swift AI. Once that is completed, I'd love to see some example projects.

[2017-04-05 16:50] collinhundley commented on #76
Fixed.

[2017-04-05 16:50] #76 closed

[2017-04-05 22:07] collinhundley opened #77 "Logo"
Swift AI needs a logo. Any artists out there willing to give it a shot?

[2017-04-06 01:23] DavidSights commented on #77
Here's a quick sketch: http://imgur.com/a/yg9IT

[2017-04-06 10:55] denisb411 opened #78 "Where I can find a Multi-Layer Feed-Forward Neural Network example?"
Met this framework tomorrow and I'm finding it awesome, by seeing documentation and reading what's it's  possible, but I can't find any example to learn how to use it (feed/predict things). This isn't the complete repo? Where I can find the handwriting example?

Thanks.

[2017-04-06 18:10] collinhundley commented on #78
Hi @denisb411, we're in the process of migrating everything to the new organization account. There's a note about the example projects [here](https://github.com/Swift-AI/Swift-AI/blob/master/Documentation/Examples.md). We'll have new examples ready soon!

[2017-04-06 18:10] #78 closed

[2017-04-10 18:54] omaralbeik commented on #77
@lionbytes would you be interested in this?

[2017-04-11 01:23] collinhundley commented on #77
@DavidSights thanks! That's a good place to start; love to hear other peoples' thoughts too.

[2017-04-11 01:27] lionbytes commented on #77
Thanks man @omaralbeik I'll give it a shot.

[2017-04-11 21:09] lionbytes commented on #77
# Suggested Logo & Visual Identity
![preview2](https://cloud.githubusercontent.com/assets/9406603/24930910/e745ed74-1f13-11e7-84c2-9f095601fb0f.jpg)

[2017-04-11 21:17] calebkleveter commented on #77
Wow. Love it!

[2017-04-11 21:43] collinhundley commented on #77
@lionbytes I really like this a lot. It looks great! Appreciate the branding info and color palette.

Love to hear other people's reactions as well. So far this has my vote :)

[2017-04-11 21:57] lionbytes commented on #77
Thanks @collinhundley. Let's see if others can contribute with better ideas as well.

[2017-04-11 21:58] DavidSights commented on #77
@lionbytes Wow, nice! 👏🏼

[2017-04-11 21:59] lionbytes commented on #77
# Different Coloring
![preview3](https://cloud.githubusercontent.com/assets/9406603/24932652/3501a88a-1f1b-11e7-974e-7fd9e26ee454.jpg)

[2017-04-11 22:00] DavidSights commented on #77
@lionbytes I like the coloring of the first one a lot more The low contrast of the gray and orange doesn't look a nice as the white and orange.

[2017-04-11 22:01] spprichard commented on #77
Love it😍👍🏻
On Tue, Apr 11, 2017 at 5:00 PM David <notifications@github.com> wrote:

[2017-04-11 22:04] calebkleveter commented on #77
I prefer the first design, with a light background.

[2017-04-11 22:09] karlml commented on #77
Colors in first are better, the last is to much like an actual brain, too organic and darker, less bold, less striking

[2017-04-11 22:26] collinhundley commented on #77
There are elements that I like of both, but I'd have to agree that I prefer the first one.

My only piece of feedback would be this: the font feels just a *tiny* bit heavy to me - especially the "A.I." part. I like the monospace, but my perception might be skewed by the excessive use of thin fonts these days. Does anybody else get this impression? I'm not a designer though, so take this with a gra

[2017-04-11 22:30] DavidSights commented on #77
I was also going to comment on the font. It does feel heavy and a little blocky on the A.I. And maybe the periods for abbreviation aren't necessary? Hate to nitpick though. Generally it looks good.

[2017-04-11 22:40] lionbytes commented on #77
Thanks @collinhundley and everyone else for the feedback.
No problem, we can try other font options. I'll take into consideration the rest of notes too.
To be honest, I'm not entirely content with it either. I'll try some other variations..

[2017-04-11 22:42] collinhundley commented on #77
@lionbytes excited to see what you come up with!

[2017-04-12 01:12] omaralbeik commented on #77
@lionbytes is the man 👍

[2017-04-17 18:55] collinhundley commented on #77
Hey @lionbytes it would be awesome to start using your work! Do you use Sketch for the designs?

[2017-04-19 17:14] lionbytes commented on #77
Hey @collinhundley, sorry it took me a while. I wasn't entirely satisfied with the design, so I needed to find some time to enhance the look of the idea. I don't use Sketch, unfortunately, but if you decide on the logo I can provide it for you in many extensions.

[2017-04-19 17:19] lionbytes commented on #77
## Branding Update
The brand colors remained the same. I've changed the look of the font, as recommended. I did not exactly like the way the swallow bird was overlapping the brain, it looked to me somewhat like an alien egg of some sort, or a sprout with weird colors, especially when resized to small scale. This version makes both entities more distinguishable; the bird looks larger and freer, and

[2017-04-19 19:57] collinhundley commented on #77
Hey @lionbytes it looks great! I'd love to use this - if you're ok with it, we can keep the vector designs in the repo and I'll export a jpeg for the readme page. What do you think?

[2017-04-19 20:06] lionbytes commented on #77
Glad you liked it :) Sounds good to me, @collinhundley. I'll have the vector file ready.

[2017-04-19 20:07] collinhundley commented on #77
@lionbytes if you have time, feel free to submit a PR with the file included in SiteAssets. Otherwise, you can email it to me and I'll update everything.

[2017-04-19 20:09] lionbytes commented on #77
You got it.

[2017-04-19 21:10] lionbytes commented on #77
Should I fork the project and submit the pull request from there, @collinhundley ?

[2017-04-19 21:11] collinhundley commented on #77
@lionbytes that's probably the easiest way. That way you'll show up as a contributor as well.

[2017-04-19 21:53] lionbytes commented on #77
Done.

[2017-04-19 22:05] collinhundley commented on #77
@lionbytes thanks a lot for your work! I've merged #79 and will update the main Readme soon.

[2017-04-19 22:05] #77 closed

[2017-04-19 22:48] lionbytes commented on #77
Thanks for the merge approval man @collinhundley. Best of luck.

[2017-04-21 21:35] calebkleveter commented on #77
@collinhundley Will you also be using this logo for the Swift AI organization?

[2017-04-21 22:02] collinhundley commented on #77
@calebkleveter yep I believe so! Still a bit of work to do there; I'd love to build some real branding but right now the code is my top priority.

[2017-04-25 19:19] collinhundley commented on #64
This has been addressed in the latest NeuralNet release. Not all activations are vectorized, but the system supports it when possible.

[2017-04-25 19:19] #64 closed

[2017-05-10 15:35] johndpope commented on #55
should be able to hit up facebook for caffe2 ios code.

[2017-05-10 15:35] #55 closed

[2017-05-19 09:04] kokinarido opened #80 "Where is actually the code?"
"Swift AI is a high-performance deep learning library " --> but where is the code? Is it this only library https://github.com/Swift-AI/NeuralNet ?

[2017-05-19 16:50] collinhundley commented on #80
Hi, the code and examples are linked to in the readme. If you look at the organization account you can see each repository under Swift AI.

[2017-05-19 16:50] #80 closed, assigned to nobody

[2017-05-19 16:54] kokinarido commented on #80
What each? There's only single repository in readme -- NeuralNet, others are examples which don't count.

[2017-05-20 12:12] kokinarido commented on #80
What each? There's only single repository in readme -- NeuralNet, others are examples which don't count.

[2017-05-20 12:17] mikkelee commented on #80
Go to the organization page as Collin said. It's @Swift-AI

[2017-05-22 03:30] kokinarido commented on #80
@mikkelee are you an idiot? I've said -- I've seen that, that's a different repository.
whereas in this repository there're 341 commits and zero code.

[2017-05-22 03:37] collinhundley commented on #80
@kokinarido This repository used to contain the main neural net code, before the organization account was created and the components were broken out into their own modules.

Trolls are not welcome here. You appear to be very intelligent, so you'll probably find that your own code suits you better.

[2017-05-22 07:19] mikkelee commented on #80
wow, rude.

[2017-05-27 13:01] kokinarido commented on #80
Really? I thought they were.

[2017-06-08 16:22] adamduracz commented on #60
Any news on Linux support? My research project is looking around for ML libraries to do training and inference on an embedded board, i.e. using (ARMV8 multi-core) CPU rather than a GPU, and it seems like yours is the closest thing available.

[2017-08-22 07:29] JoeriBultheel commented on #50
Kind of late here, but what I want to accomplish is doing inference BUT especially also training of a RNN on iOS! Seems like what you guys are building is closest to this. All other libraries are only for inference and not training :/

Any progress? Is it a secret repo? :-p. Would love to contribute/stay in the loop.

Love.

[2017-08-31 21:55] JoeriBultheel commented on #60
Hi,

Very much interested in a on-device-learning RNN implementation. Is there any progress being made regarding that? Would love to contribute / stay informed.

Thnx!

[2017-09-04 01:52] Robby-CN opened #81 "How do I identify other characters?"

[2017-09-07 12:17] Aneapiy commented on #50
Hey @JoeriBultheel, I don't have an RNN version, but I used Swift-AI's version of FNN to do training and classification on iOS (iPhone 6s) for a project called [Swift-HAR](https://github.com/Sapphirine/Swift-HAR). Not sure if it's something you can use, but I figured I'd throw it out there.

[2017-09-07 12:56] JoeriBultheel commented on #50
@Aneapiy Thnx!

Actually I found this other project https://github.com/jordenhill/Birdbrain which is closer to what I want to achieve. I love swift-ai's code a lot though, would be nice to see an RNN implementation in the future.

[2017-11-08 15:43] caiofbpa opened #82 "Is this abandoned due to CoreML?"
Apple released CoreML which basically does all this very well and natively. There's no activity here after that.

Anyway, we don't have CoreML on linux, so Swift-AI would be really useful to run AI on the server.

[2017-11-15 15:24] zorantodorovic commented on #82
@caiofbpa there is no way to train neural network with CoreML. CoreML uses trained models.

[2017-11-22 23:29] collinhundley commented on #82
That's correct - this library allows you to train and run models.  I've been very busy lately but the development will continue.

[2017-11-22 23:29] #82 closed, assigned to nobody

[2018-09-12 13:44] borozanov opened #83 "Neural Networks for Regression are not possible"
Tried to use a simple Neural Network without an activation layer at the output.
The output needs to be a continuous number (example price).
The API requires an activation function (linear), but the back-propagation is not implemented.

[2018-10-19 09:01] comyn opened #84 "Chinese character recognition?"

[2018-10-22 01:05] #84 closed, assigned to nobody

[2019-01-18 06:20] AlexJones0412 opened #85 "Need to apply Mfcc and Spectrogram to the audio file"
Hello,
I am creating the iOS Mobile application to detect snoring, I need to apply Mfcc and Spectrogram to the audio file and need to pass these two in the Tensorflow lite  I need to apply Mfcc [Mel-frequency cepstral coefficients] and Spectrogram to the audio file. Can you suggest me any solution for this?

Thanks in Advance!

[2019-02-16 06:23] plivesey opened #86 "Getting -nan as a weight when training a model"
My model is failing to train a NN. All the weights just get set to -nan so infer always fails (returning -nan). Do you have any advice on how to debug?

Sorry for such a vague issue. I'm only able to reproduce this on my training set (not on a super simple, contrived dataset). Hopefully, you've seen issues like this before and can point me in the right direction to give you more info.

Btw, this i

[2019-02-16 06:30] plivesey commented on #86
Just to guess at something which looks a bit weird...all my biases are zero. So when I put a breakpoint at:

`cache.layerBiases[layer] = cache.newLayerBiases[layer]`

newLayerBiases is zero for every entry. This is unexpected right?

[2019-02-16 07:15] plivesey commented on #86
I have a guess at what may be going wrong. I am using 1 as a batch size. I am trying to simplify things and so just want to train all my data as one batch. Is this possible? Maybe what I'm actually doing is training one row at a time instead of batching everything together...

[2019-02-16 07:57] plivesey commented on #86
Problem solved! This library doesn't work for a single labeled output. I was outputing: [1] as a label for positive and [0] as a label for negative. Instead, you need to do:

[1, 0] for positive and [0, 1] for negative!

Thanks for this awesome library. Finally making progress.

[2019-02-16 08:19] #86 closed, assigned to nobody

[2020-06-24 09:08] Frederic06 commented on #85
Hey Alex,
I'm currently struggling to find the same solution.
Did you find any solution so far?

[2020-07-04 03:30] lilmillioner opened #87 "Ai"

[2020-07-22 13:54] sandeepkumarrepo opened #88 "Image classification"
Hi Team,

Is it possible to classify the images using this library? like categories the images or detecting the object in image?

Need assistance on this.

[2022-11-20 17:54] FuNNyGuYz69 opened #89 "Swift AI"

[2022-11-20 17:54] Mounment commented on #89
这是一封自动回复邮件。已经收到您的来信，我会尽快回复。